<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
    {% include google-tag-manager.html %}
    {% include header.html %}

    {% for page in site.posts reversed %}
        {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
        <section id="section--{{page.class}}" class="section section--{{page.class}}">
            <div class="container {{ page.style }}">
                {% case page.class %}
                    {% when 'intro' %}
                        <h1 class="page--title">{{ page.title }}</h1>
                    {% else %}
                        {% if page.title %}
                            <header class="section--header">
                                <h2 class="section--title">{{ page.title }}</h2>
                            </header>
                        {% endif %}
                {% endcase %}

                {% case page.class %}
                    {% when 'intro' %}
                        <div class="section--body">
                            {{ page.content }}
                        </div>
                    {% when 'whois' %}
                        {{ page.content }}
                    {% when 'coding' %}
                        <div class="section--content">
                            {% assign image = page.img[0] %}
                            {% include image.html image=image %}
                            <div class="section--body">
                            {{ page.content }}
                            </div>
                        </section>
                    {% when 'testing' %}
                        <section class="section--content">
                            {% assign image = page.img[0] %}
                            {% include image.html image=image %}
                            <div class="section--body">
                                {{ page.content }}
                            </div>
                        </section>
                    {% when 'training' %}
                        <section class="section--content">
                            {% assign image = page.img[0] %}
                            {% include image.html image=image %}
                            <div class="section--body">
                                {{ page.content }}
                            </div>
                        </section>
                    {% else %}
                        <section class="section--content">
                            {% assign image = page.img[0] %}
                            {% include image.html image=image %}
                            <div class="section--body">
                                {{ page.content }}
                            </div>
                        </section>
                {% endcase %}
            </div>
        </section>
        {% endfor %}

    {% include footer.html %}
    {% include js.html %}

    </body>

</html>
