/*
Breakpoints

Styleguide 1.4
*/

/*
Breakpoints settings

$alpha - 320px;
$beta - 664px;
$charlie - 768px;
$delta - 988px;
$echo - 1024px;

markup:
<pre>{$modifiers}</pre>

Styleguide 1.4.1
*/

$alpha:                     320px;
$alpha--plus:               440px;
$beta:                      664px;
$charlie:                   768px;
$delta:                     988px;
$echo:                      1024px;
$foxtrot:                   1170px;

$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$site-width:                $foxtrot;
$menu-width:                $delta;
$max-width:                 $site-width;

$container-width:           $site-width + ($site-spacing * 2);
$container-width-beta:      $site-width + ($site-spacing-beta * 2);
$container-width-charlie:   $site-width + ($site-spacing-charlie * 2);
