@mixin button-medium {
	@include font($font-size--h4, $normal, $line-height, $font-family--arvo);
	line-height: $font-size;
	padding: floor(0.5 * $font-size);
}

@mixin button-large {
	@include font($font-size--h2, $normal, $font-size--h2, $font-family--arvo);
	padding: floor($font-size--h2);

	@include breakpoint($beta) {
		@include font($font-size--h1, $normal, $font-size--h1, $font-family--arvo);
		padding: floor($font-size--h1);
	}
}

@mixin button($btn-default-color, $btn-default-bg-color, $btn-default-border-color) {
	background-color: $btn-default-bg-color;
	border-color: $btn-default-border-color;

	&,
	&:active,
	&.active {
		color: $btn-default-color;
	}

	&:hover,
	&:focus {
		color: $btn-default-color;
	}
}
