/*
Anchor

.anchor        - Regular link
.anchor--reset - Cloaked link
.anchor--nav   - Navigation link

markup:
<a class="{$modifiers}" href="javascript:void();">I&rsquo;m a link</a>

Styleguide 2.3
*/

.anchor {
	color: $brand-color;
	text-decoration: none;

	&:visited {
		color: darken($brand-color, 15%);
	}

	&:hover {
		color: $text-color;
		text-decoration: underline;
	}

	&:active,
	&:focus,
	&:hover {
		outline: 0;
	}
}

a {
	@extend .anchor;
}
