<div id="contact-hans" style="display:none">
    <header class="section--header"><h2 class="section--title">Contact Hans</h2></header>
    <section class="section--content section--content--small section--modal">
        <div class="section--body">
            <p>Do you want to discuss your project? Need to run a performance test? Want Hans to speak at your conference/event or training your team?</p>
            <form action="https://formspree.io/info@hkweb.nl" method="POST">
                <input type="text" name="name" placeholder="Name and surname">
                <input type="email" name="_replyto" placeholder="Email">
                <textarea name="message" placeholder="Message"></textarea>
                <input type="text" name="_gotcha" style="display:none"/>
                <button type="submit" class="anchor--button">Submit your message</button>
            </form>
        </div>
    </section>
</div>
