/*
Calendar

markup:
<div class="container">
content
</div>


Styleguide 3.6
*/
.container {
	@include clearfix;
	max-width: $site-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $site-spacing;
	padding-right: $site-spacing;
}
