.social-icon {
	&--list {
		max-width: $charlie;
		margin: 0 auto;
		@include flexbox {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&--link {
		@include flexbox {
			flex: 0 0 50px;
			padding: $spacing--micro;
			margin: $spacing--micro;
		}
		line-height: 0;
		display: block;
		height: auto;

		border: 2px solid $color-one;
		border-radius: $radius-full;

		&:focus,
		&:hover {
			.social-icon--svg {
				transform: scale(1.2);
			}
		}
	}

	&--svg {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		transition: transform .3s;
		fill: $color-one;
	}

	&--title {
		@extend .visually-hidden;
	}
}

svg:not(:root) {
	overflow: hidden;
}
