/*
Type

Styleguide 1.2
*/

/*
Font-size settings

$font-size - default font-size
$font-size--h1 - font-size for header 1
$font-size--h2 - font-size for header 2
$font-size--h3 - font-size for header 3
$font-size--h4 - font-size for header 4
$font-size--h5 - font-size for header 5
$font-size--h6 - font-size for header 6
$font-size--big - font-size big
$font-size--p - font-size default - paragraph
$font-size--small - font-size small
$font-size--tiny - font-sizes tiny

markup:
<pre style="font-size:{$modifiers};">{$modifiers}</pre>

Styleguide 1.2.1
*/

$font-size: 14px !default;
$font-size--h1: 26px !default;
$font-size--h2: 30px !default;
$font-size--h3: 14px !default;
$font-size--h4: 15px !default;
$font-size--h5: 12px !default;
$font-size--h6: 11px !default;

$font-size--big: 15px !default;
$font-size--p: $font-size !default;
$font-size--small: 12px !default;
$font-size--tiny: 10px !default;

/*
Font-Family settings

$font-family - default font family
$font-family--serif - serif font family
$font-family--sans-serif - sans-serif font family
$font-family--arvo - 'Arvo'
$font-family--montserrat - 'Montserrat Bold'
$font-family--loveya - 'Love Ya Like A Sister'
$font-family--fallback - fallback font family

markup:
<pre style="font-family:{$modifiers};">{$modifiers}</pre>

Styleguide 1.2.2
*/

$font-family--serif: serif;
$font-family--sans-serif: sans-serif;
$font-family--cursive: cursive;
$font-family--fallback: Tahoma, Verdana, Arial, $font-family--sans-serif;
$font-family--arvo: 'Arvo', $font-family--serif;
$font-family--montserrat: 'Montserrat Bold', $font-family--sans-serif;
$font-family--loveya: 'Love Ya Like A Sister', $font-family--cursive;
$font-family: $font-family--arvo;

/*
Font-weight settings

$light - light font-weight
$normal - normal font-weight
$bold - bold font-weight

markup:
<pre style="font-weight:{$modifiers};">{$modifiers}</pre>

Stylegyide 1.2.3
*/

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/*
Line height settings

$line-height - default line-height

Styleguide 1.2.4
*/

$line-height: 23px;
